@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

h3 {
  color: rgb(2, 217, 255);
}
.footer-a {
  color: rgb(253, 253, 253);
}
.footer h3 {
  font-size: 1em;
  color: rgb(255, 255, 255) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
